
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Report</title>
</head>
<body style="width: 210mm; height: 297mm; margin: 0 auto; padding: 10mm; box-sizing: border-box; font-family: Arial, sans-serif;">
    
    <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 2px solid black; padding: 10px; background-color: rgba(255, 255, 255, 0.8); position: relative;margin:5px">
    <div style="content: ''; background-image: url('image.png'); background-size: cover; background-position: center; opacity: 0.3; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;"></div>
    <div style="display: flex; flex-direction: column; align-items: center; z-index: 1;">
        <img src="https://origins-hms.s3.amazonaws.com/base/uploads/OriginsNewLogo_1742044006551" alt="Hospital Logo" style="width: 120px; height: auto;">
        <div style="font-size: 12px; margin-top: 5px;color: black">Origins Hospital Pvt Ltd</div>
    </div>

    <!-- Hospital Info -->
    <div style="text-align: center; flex-grow: 1; z-index: 1;">
        <!-- Big Title in the Middle -->
        <div style="font-size: 30px; font-weight: bold; color: #0073e6; margin-bottom: 5px;">ORIGINS IVF</div>
        <div style="font-size: 14px; font-weight: bold; color: black; margin-bottom: 5px;">Hanmakonda</div>
        <div style="font-size: 12px; color: black; margin-bottom: 5px;">
        1-7-1765, Srinivasnagar Colony, Balasamudram, Hanmakonda, Telangana - 506001
        </div>
        <div style="font-size: 12px; color: black;">Phone: +91 87904 86090</div>
    </div>
</div>
    
    <div style="text-align: center; font-weight: bold; font-size: 18px; margin: 20px;">Discharge Summary</div>

   <table style="border: 1px solid #000; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; width: 100%; pointer-events: none; user-select: none; padding: 5px;">
    <tbody>
        <tr>
            <td style=" padding: 10px; width:  25%"><strong>MR Number</strong></td>
            <td style=" padding: 10px;  width: 25%">HNK0329</td>
            <td style=" padding: 10px;  width: 25%"><strong>Patient Reg No</strong></td>
            <td style=" padding: 10px;  width: 25%">HNK0329</td>
        </tr>
        <tr>
            <td style=" padding: 10px; width: 25%"><strong>Patient Name</strong></td>
            <td style=" padding: 10px; width: 25%">Pittala Mamatha</td>
            <td style=" padding: 10px; width: 25%"><strong>Phone</strong></td>
            <td style=" padding: 10px; width: 25%">9666266442</td>
        </tr>
        <tr>
            <td style=" padding: 10px; width: 25%"><strong>Age / Gender</strong></td>
            <td style=" padding: 10px; width: 25%">32Y/F</td>
            <td style=" padding: 10px; width: 25%"><strong>Room Info</strong></td>
            <td style=" padding: 10px; width: 25%">2nd Floor AC Room</td>
        </tr>
        <tr>
            <td style=" padding: 10px; width: 25%"><strong>Admit Date</strong></td>
            <td style=" padding: 10px; width: 25%">16/07/2025</td>
            <td style=" padding: 10px; width: 25%"><strong>Bill No</strong></td>
            <td style=" padding: 10px; width: 25%">HNK0001</td>
        </tr>
        <tr>
            <td style=" padding: 10px; width: 25%"><strong>Discharge Date</strong></td>
            <td style=" padding: 10px; width: 25%">20/07/2025</td>
            <td style=" padding: 10px; width: 25%"><strong>Consultant</strong></td>
            <td style=" padding: 10px; width: 25%">Dr. K. Jhansi</td>
        </tr>
    </tbody>
</table>


    
    <div style="margin-top: 20px; margin-bottom: 20px"> <strong>Payment Information: </strong></div>

    <!-- Report Table -->
    <table style="width: 100%; border-collapse: collapse;border: 1px solid black">
        <tr>
            <th style="text-align: left; padding: 8px;">Service Type</th>
            <th style="text-align: left; padding: 8px;">Quantity</th>
            <th style="text-align: left; padding: 8px;">Rate</th>
            <th style="text-align: left; padding: 8px;">Amount</th>
        </tr>
        <tr>
            <td style="padding: 8px;">Room Charges</td>
            <td style="padding: 8px;">4</td>
            <td style="padding: 8px;">3500</td>
            <td style="padding: 8px;">14000</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Surgeon Charges</td>
            <td style="padding: 8px;">1</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">12000</td>
        </tr>
          <tr>
            <td style="padding: 8px;">Anaesthetist Charges</td>
            <td style="padding: 8px;">1</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">3000</td>
        </tr>
          <tr>
            <td style="padding: 8px;">Pediatrician Charges</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;"></td>
        </tr>
          <tr>
            <td style="padding: 8px;">Medication Charges</td>
            <td style="padding: 8px;">4</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">4000</td>
        </tr>
          <tr>
            <td style="padding: 8px;">OT Charges</td>
            <td style="padding: 8px;">1</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">6000</td>
        </tr>
          <tr>
            <td style="padding: 8px;">Labour Room Charges</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;"></td>
        </tr>
          <tr>
            <td style="padding: 8px;">OT Technician Charges</td>
            <td style="padding: 8px;">1</td>
            <td style="padding: 8px;"></td>
            <td style="padding: 8px;">4000</td>
        </tr>
          <tr>
            <td style="padding: 8px; ">Oxygen Charges</td>
            <td style="padding: 8px; ">1</td>
            <td style="padding: 8px; "></td>
            <td style="padding: 8px; ">2000</td>
        </tr>
          <tr>
            <td style="padding: 8px; ">Monitor Charges</td>
            <td style="padding: 8px; ">1</td>
            <td style="padding: 8px; "></td>
            <td style="padding: 8px; ">1000</td>
        </tr>
          <tr>
            <td style="padding: 8px; ">Blood Transfusion Charges</td>
            <td style="padding: 8px; "></td>
            <td style="padding: 8px; "></td>
            <td style="padding: 8px;"></td>
        </tr>
          <tr>
            <td style="padding: 8px;">Consultant Charges</td>
            <td style="padding: 8px;">4</td>
            <td style="padding: 8px;">500</td>
            <td style="padding: 8px;">2000</td>
        </tr>
          <tr>
            <td style="padding: 8px;">Nursing Charges</td>
            <td style="padding: 8px;">4</td>
            <td style="padding: 8px;">500</td>
            <td style="padding: 8px;">2000</td>
        </tr>
    </table>
    <div style='page-break-after: always;'></div>
    
    <div style="margin-top: 20px; margin-bottom: 10px"> <strong>Payment Details: </strong></div>
    
    <table style="width: 100%; border-collapse: collapse; border: 1px solid black">
        <tr>
            <th style="text-align: left; padding: 8px; width: 20%">S.No.</th>
            <th style="text-align: left; padding: 8px; width: 20%">Invoice</th>
            <th style="text-align: left; padding: 8px; width: 20%">Date</th>
            <th style="text-align: left; padding: 8px; width: 20%">Payment Mode</th>
            <th style="text-align: left; padding: 8px; width: 20%">Amount</th>
        </tr>
       <tr>
            <td style="padding: 8px;">1</td>
            <td style="padding: 8px;">order_Qu3HxVsQsTFTZD</td>
            <td style="padding: 8px;">17/07/2025</td>
            <td style="padding: 8px;">Online</td>
            <td style="padding: 8px;">30000</td>
        </tr>
        <tr>
            <td style="padding: 8px;">2</td>
            <td style="padding: 8px;">order_QvIAc8kMPBcRk3</td>
            <td style="padding: 8px;">20/07/2025</td>
            <td style="padding: 8px;">Online</td>
            <td style="padding: 8px;">20000</td>
        </tr>
    </table>

    
    <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
        <tr>
            <th colspan = 3 style="text-align: left; width: 80%">Total </th>
            <td style="padding: 8px;">50000</td>
        </tr>
        <tr>
            <th colspan = 3 style="text-align: left;">Discount </th>
            <td style="padding: 8px;">5000</td>
        </tr>
        <tr>
            <th colspan = 3 style="text-align: left;">Net Amount </th>
            <td style="padding: 8px;">55000</td>
        </tr>
        <tr>
            <th colspan = 3 style="text-align: left;">Advance Paid </th>
            <td style="padding: 8px;">20000</td>
        </tr>
        <tr>
            <th colspan = 3 style="text-align: left;">Balance Paid </th>
            <td style="padding: 8px;">30000</td>
        </tr>
        <tr>
            <th colspan = 3 style="text-align: left;">Net Paid </th>
            <td style="padding: 8px;">50000</td>
        </tr>
    </table>

</body>
</html>